.header{
    padding:30px 4% 0 4%;
    height: 10%;
}

.topnav {
    margin: 0 0.6vw 1.4vw 0.6vw;
    padding: 0.6vw 1.2vw 0;
    color: grey;
    display: inline-block;
}

.topnav a{
    text-decoration: none;
    font-size: 1.6vw;
    padding: 0 1.6vw;
    border-radius: 5px;
    margin-left: 1.6vw;
    border: none;
    background-color: white;
    color: grey;
}

.topnav a:hover {
    background-color: #efefef;
    cursor: pointer;
}

.topnav a.active {
    background-color: #efefef;
}

@media screen and (max-width: 1000px) {
    .topnav{
        display: block;
        margin-left: 0;
        padding-left: 0;
    }
    .header{
        height: 15%;
    }
}

