.software{
    font-size: 3.2vw; 
    color: black; 
    text-decoration:none;
}

.sticky {
    padding: 10px 4% 10px 4%;
    height: 15%;
    z-index: 105;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 5px 5px rgb(196, 193, 193) ;
}

.stickynav {
    display: inline-block;
    height: 100%;
}

.stickynav a {
    height: 100%;
    color: rgb(12, 90, 207);
    text-decoration: none;
    font-size: 1.4vw;
    padding: 0 10px 15px 20px;
    margin-left: 25px;
}

.stickynav a:hover {
    cursor: pointer;
    border-bottom: 4px solid lightgrey;
}



.stickyRight{
    float: right;
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 1.35vw; 
    text-decoration: none;
    color: rgb(12, 90, 207); 
    border: 0.5px solid rgb(12, 90, 207);
}

@media screen and (max-width: 1000px) {
    .software{
        display: block;
    }
    .stickynav{
        height: 20%;
    }
    .stickynav a{
        padding-left: 0;
        margin-left: 0;
    }
    .stickyRight{
        display: inline-block;
        margin-top: 0;
    }
}
.stick {
    position: fixed;
    top:0;
    width: 100%;
}
.headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }
.headroom--scrolled{
    position: transform 200ms ease-in-out;
}

.headroom--pinned {
    position: fixed;
    transform: translateY(-10%);
}